<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beagle</title>
</head>
<body>
    <p>Here's a fun game - howl at your beagle and watch him howl back. Continue to 
        see who howls the loudest, or until the neighbours go crazy. Beagles are loved 
        across India for their affection and jolly personality. They're most often remembered 
        for their on-screen character, Snoopy, who stole the hearts of both children and 
        their parents. At a time when The Snoopy Show was playing in almost every household, 
        the industry witnessed a surge in the number of beagles finding homes. Unfortunately, 
        however, many people underestimated a Beagle's needs and took the breed for what they saw 
        on TV. As a result, many Beagles were either abandoned or given up for adoption.</p>
</body>
</html>